{{! 顶部导航栏模板 }}
<nav class="navbar navbar-expand-lg limenode-navbar">
  <div class="container-fluid">
    <a class="navbar-brand limenode-logo" href="/console">
      <i class="fas fa-lemon"></i> LimeNode
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/console">
            <i class="fas fa-home"></i> 总览
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product/mall">
            <i class="fas fa-store"></i> 服务商城
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <i class="fas fa-globe"></i> 地区
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">华北 - 北京</a></li>
            <li><a class="dropdown-item" href="#">华东 - 上海</a></li>
            <li><a class="dropdown-item" href="#">华南 - 广州</a></li>
            <li><a class="dropdown-item" href="#">香港</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" title="消息">
            <i class="fas fa-bell"></i>
            <span class="badge bg-danger">3</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart" title="购物车">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge bg-danger cart-badge">{{#if @root/user}}{{@root/cartCount}}{{else}}0{{/if}}</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle user-dropdown" href="#" data-bs-toggle="dropdown">
            <i class="fas fa-user-circle"></i>
            <span>{{#if @root/user}}{{@root/user.username}}{{else}}未登录{{/if}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/user/profile"><i class="fas fa-user"></i> 个人中心</a></li>
            <li><a class="dropdown-item" href="/user/billing"><i class="fas fa-receipt"></i> 账单管理</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> 退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
